/bin
/obj
/.vs
src/bin
src/obj
src/.vs
src/GitNoob/bin
src/GitNoob/obj
src/GitNoob/.vs
src/GitNoob.Config/bin
src/GitNoob.Config/obj
src/GitNoob.Config/.vs
src/GitNoob.Git/bin
src/GitNoob.Git/obj
src/GitNoob.Git/.vs
src/GitNoob.Gui.Forms/bin
src/GitNoob.Gui.Forms/obj
src/GitNoob.Gui.Forms/.vs
src/GitNoob.Gui.Program/bin
src/GitNoob.Gui.Program/obj
src/GitNoob.Gui.Program/.vs
src/GitNoob.ProjectTypes/bin
src/GitNoob.ProjectTypes/obj
src/GitNoob.ProjectTypes/.vs
